#Address
net "address(3)" loc = "L1";
net "address(2)" loc = "N2";
net "address(1)" loc = "P5";
net "address(0)" loc = "R7";
#Display
net "dataout(7)" loc = "K13";
net "dataout(6)" loc = "L15";
net "dataout(5)" loc = "M15";
net "dataout(4)" loc = "P15";
net "dataout(3)" loc = "P14";
net "dataout(2)" loc = "K15";
net "dataout(1)" loc = "L14";
net "dataout(0)" loc = "N15";
#Anodos
net "AN(0)" loc = "G12";
net "AN(1)" loc = "F13";
net "AN(2)" loc = "H12";
net "AN(3)" loc = "G13";
net "AN(4)" loc = "H13";
net "AN(5)" loc = "K11";
net "AN(6)" loc = "J13";
net "AN(7)" loc = "K12";